<!-- income-expense-table.html -->
<table id="dataTable" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>ลำดับ</th>
      <th>รายการ</th>
      <th>ประเภท</th>
      <th>จำนวนเงิน</th>
      <th>วันที่</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>เงินเดือน</td>
      <td>รายรับ</td>
      <td>25,000</td>
      <td>2025-07-01</td>
    </tr>
    <tr>
      <td>2</td>
      <td>ค่าอาหาร</td>
      <td>รายจ่าย</td>
      <td>1,200</td>
      <td>2025-07-02</td>
    </tr>
  </tbody>
</table>
